.cabecalho{
  padding: 5%;
}

@media screen and (max-width:850px){

  .cabecalho{
      display: flex;
      justify-content: center;
      padding: 5%;
  }

  .cabecalho h1{
    font-size: 32px;
  }
}